<div class="onboarding_box">
  <div class="onboarding_logo_container">
    <app-logo [width]="32" />
    <h1>Poupe +</h1>
  </div>

  <div class="onboarding_description_container">
    <h2>Bem-vindo(a)</h2>
    <p class="onboarding_description">
      Bem-vindo ao Poupe +, sua plataforma de gerenciamento financeiro. Aqui
      você pode controlar suas finanças de forma simples e eficiente. Faça login
      ou crie uma conta para começar a usar nossos recursos.
    </p>
  </div>

  <div class="onboarding_form_links_container">
    <a [routerLink]="['/auth/login']" class="btn_form">
      Iniciar
    </a>

    <a [routerLink]="['/auth/register']" class="btn_form"
      >Cadastre-se
    </a>
  </div>
</div>
