/* loading.component.css */
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

mat-spinner {
  z-index: 10000;
  position: relative;
}
