:host {
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: 1.75rem 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.card_title_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card_title_text {
  font-size: 1.25rem;
  color: var(--gray-color);
}

.amount {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
}
