<div class="title">
  <h3>Adicionar transação</h3>
</div>

<form class="add_transaction_form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="input_container">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput formControlName="name" />

      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Título é obrigatório.
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('minlength')">
        Mínimo 5 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput formControlName="amount" type="number" />

      <mat-error *ngIf="form.get('amount')?.hasError('required')">
        Valor é obrigatório.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        @for (category of categories; track category.value) {
        <mat-option [value]="category.value">{{
          category.viewValue
        }}</mat-option>
        }
      </mat-select>

      <mat-error *ngIf="form.get('amount')?.hasError('required')">
        Categoria é obrigatória.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data da transação</mat-label>
      <input
        formControlName="date"
        matInput
        [matDatepicker]="picker"
        placeholder="DD/MM/YYYY"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="form.get('date')?.hasError('required')">
        Data é obrigatória.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Tipo de transação</mat-label>
    <mat-select formControlName="transactionType">
      @for (transaction of transactions; track transaction) {
      <mat-option [value]="transaction.value">{{
        transaction.viewValue
      }}</mat-option>
      }
    </mat-select>

    <mat-error *ngIf="form.get('transactionType')?.hasError('required')">
      Tipo de transação é obrigatório.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Método de pagamento</mat-label>
    <mat-select formControlName="paymentType">
      @for (type of paymentTypes; track type) {
      <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
      }
    </mat-select>

    <mat-error *ngIf="form.get('paymentType')?.hasError('required')">
      Método de pagamento é obrigatório.
    </mat-error>
  </mat-form-field>

  <div class="buttons_container">
    <app-button
      type="button"
      variant="secondary"
      text="Cancelar"
      (click)="closeModal()"
    ></app-button>
    <app-button type="submit" text="Adicionar"></app-button>
  </div>
</form>
