<header class="main_header">
  <div class="main_header_information">
    <a routerLink="/dashboard" class="main_logo_container">
      <app-logo />
      <h1 class="main_logo_title">Poupe +</h1>
    </a>

    <nav class="main_nav">
      <ul class="main_links_container">
        <li class="main_link">
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>

        <li class="main_link">
          <a routerLink="/dashboard/transactions" routerLinkActive="active"
            >Transações</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <mat-icon (click)="toggleMenu()" class="responsive_menu">menu</mat-icon>

  <div class="main_user_menu">
    <button mat-button [matMenuTriggerFor]="menu">LB</button>
    <mat-menu #menu="matMenu">
      <button (click)="handleLogout()" mat-menu-item>Sair</button>
    </mat-menu>
  </div>
</header>

<app-side-menu (closed)="toggleMenu()" [isOpen]="closed()">
  <div class="side_menu_responsive">
    <ul class="side_menu_links_container">
      <li class="side_menu_link">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>

      <li class="side_menu_link">
        <a routerLink="/dashboard/transactions" routerLinkActive="active"
          >Transações</a
        >
      </li>
    </ul>

    <button class="logout_button" (click)="handleLogout()">Sair</button>
  </div>
</app-side-menu>

<router-outlet></router-outlet>
