:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.transactions_header_actions {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.transactions_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.5rem;
  }
}

.mat-mdc-table {
  background-color: var(--secondary-color);
}

.mat-mdc-header-row {
  color: var(--text-color);
  font-weight: bold;
  background-color: var(--secondary-color);
}

.mat-mdc-row {
  color: var(--text-color);
  background-color: #0b0b0d;
}

.action_btn_container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.action_btn {
  background-color: var(--background-color);
  border: none;
  cursor: pointer;

  .mat-icon {
    color: white;
  }
}

.delete {
  .mat-icon {
    color: var(--red-color);
  }
}

.emptyTransactions {
  font-size: 1.25rem;
  background-color: var(--gray-color);
  border-radius: 6px;
  padding: 1.5rem 1rem;
  text-align: center;
}

@media (max-width: 800px) {
  .transactions_header {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .mat-mdc-table {
    display: none;
  }
}

@media (max-width: 670px) {
  .transactions_header_actions {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 1rem;
  }
}
