<app-form-auth
  buttonText="Entrar"
  title="Entra na sua conta"
  routeText="Crie uma"
  route="/auth/register"
  redirectText="Não tem uma conta?"
>
  <form
    [formGroup]="loginForm.loginFormGroup"
    class="form_container"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="input_email">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text" />

      <mat-error *ngIf="loginForm.email?.hasError('required')">
        Email é obrigatório.
      </mat-error>
      <mat-error *ngIf="loginForm.email?.hasError('email')">
        Email inválido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input_password">
      <mat-label>Senha</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
      />
      <button
        class="show_password_btn"
        mat-icon-button
        matSuffix
        (click)="showPassword()"
        type="button"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="loginForm?.password?.hasError('required')">
        Senha é obrigatória.
      </mat-error>
      <mat-error *ngIf="loginForm?.password?.hasError('minlength')">
        Mínimo de 5 caracteres.
      </mat-error>
    </mat-form-field>

    <button type="submit" class="btn_form">Entrar</button>
  </form>
</app-form-auth>

<app-loading *ngIf="isLoading()"></app-loading>
