.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--primary-color);
}

.card_container {
  background-color: #1c1c20;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 670px;
}
