:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.second_account_details_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card_icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  :host {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (max-width: 468px) {
  .second_account_details_box {
    grid-template-columns: 1fr;
  }
}
